<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List | by Bladimir Doumerc</title>
</head>

<body>
    <h1>Hoy es <span style="background-color: aqua;"><%= ejsDay%></span></h1>
</body>

</html>